body {
  background-color: rgb(248, 248, 248);
  font-family: "Helvetica neue",Helvetica,Verdana,Sans-serif;
}

a:visited{
  color: blue;
}

.kgrid-parent {
  display: inline-flex;
}

#kinput {
  border-radius: 4px;
  box-shadow: none;
  border: 1px solid #999;
  padding: 6px;
}

.kh1 {
  font-size: 18px;
  font-weight: 700;
}

.kh2 {
  font-size: 15px;
  color: #333;
  font-weight: 500;
  line-height: 18px;
  margin-left: 0;
  margin-top: 0;
}

.kh5 {
  margin-top: 7px;
  margin-bottom: 7px;
}

.kh6{
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -0.16px;
  color: #333;
  margin-bottom: 4px;
  font-weight: normal;
  margin-top: 0px;
}

#klearnmore{
  font-size: 13px;
  line-height: 16px;
  letter-spacing: -0.15px;
  color: #767676;
  margin-top: 8px;
}

.kfixed {
  display: inline-block;
  text-align: right;
  font-weight: normal;
  font-size: small;
  color: #636363;
  margin-right: 12px;
  width: 100px;
  margin-top: 10px;
}
.ksidepic {
  margin: 0px 10px 5px 0px;
}
.kmain {
  border: 1px solid grey;
  margin-right: 10px;
}

.ktitlecol{
  display: inline-block;
}

#ktable{
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
  height: 37px;
}

.ktablecolumn{
  height: 37px;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  bottom: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  border-left: 1px solid #e2e2e2;
  font-size: 14px;
  font-weight: normal;
  text-align: center;
}

.kcenter {
  margin: 0;
  position: relative;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.kbuttons{
  
  position: relative;
  left: 80px;
  display: flex;
  justify-content: center;
}

#sidebar {
  float: left;
}

#image {
  float: left;
}

button {
  color: #0654ba;
  font-size: 14px;
  font-weight: 700;
  border-radius: 3px;
  padding: 7px 13px;
  margin-left: 4px;
  box-shadow: 0 3px 0 rgba(0,0,0,0.04);
}

i{
  color: rgb(40, 143, 40);
  font-size: 16px;
  font-weight: 500;
}

#sale {
  margin-top: 7px;
  padding-top: 20px;
  height: 33px;
  border-top: 1px dotted rgb(204, 204, 204);
  text-align: center;
  font-weight: 400;
  font-size: 13px;
}

#main {
  border: 2px solid rgb(133, 133, 255);
}

#side{
  border: 1px solid rgb(133, 133, 255);
}

#reg{
  border: 1px solid grey;
}

#title{
  float: left;
  border-bottom: 1px dotted grey;
  padding-bottom: 10px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 5px;
  margin-bottom: 0px;
}

#priceblock{
  min-width: 360px;
  margin-top: 15px;
  background-color: #e2e2e2;
  margin-left: 20px;
  margin-right: 20px;
  height: 184px;
  border: 1px solid #ddd;
  border-radius: 3px;
  box-shadow: 4px 4px 1px #eee;
}

#dollarval{
  font-size: 16px;
  font-weight: 700;
  position: relative;
  top: 12px;
}

#price{
  position: relative;
  width: 85px;
  top: 12px;
}

#kbuttons{
  position: relative;
  bottom: 10px;
}

#kbuyitbutton{
  margin-bottom: 10px;
  background-image: linear-gradient(#0079bc,#00509d);
  color: white;
  width: 139px;
  height: 34px;
  font-size: 16px;
}

#kadditbutton{
  margin-bottom: 10px;
  background-image: linear-gradient(#45aad6,#2386c0);
  color: white;
  width: 139px;
  height: 34px;
  font-size: 16px;
}

#kheart{
  color : #0654ba;
  font-size: 14px;
}

#kwatchitbutton{
  margin-bottom: 10px;
  background-color: white;
  color: #0654ba;
  width: 140px;
  height: 32px;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  padding: 7px;
}

#kcol1{
  color: #dd1e31;
  font-weight: bold;
}

.kb{
  color: black;
}

#ksellconfidence{
  width: 261px;
  height: 83px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 3px;
  color: #333;
  line-height: 18px;
  padding: 14px 21px 20px 16px;
  margin-bottom: 10px;
}

#ksellinfo{
  height: 168px;
  font-size: 16px;
  font-weight: bold;
  width: 261px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 3px;
  color: #333;
  line-height: 18px;
  padding: 14px 21px 20px 16px;
}

#ktruck{
  width: 18px;
  height: 18px;
}

#kshipping{
  vertical-align: text-top;
}

#kpayments{
  vertical-align: text-top;
}

#ktable2{
  display: table;
  height: 62px;
  width: 261px;
}

#kmoneypic{
  display: table-cell;
  vertical-align: middle;
  padding-bottom: 20px;
}

.kmoneypic{
  width: 42px;
  height: 42px;
}

#ksidemoney{
  width: 200px !important;
  display: table-cell;
  vertical-align: middle;
  margin-right: 10px;
}

#ksellerinfotitle{
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}

#ksellerpercent{
  font-size: 12px;
  padding-bottom: 10px;
  border-bottom: 2px dotted #999;
}

#ksellername{
  font-size: 13px;
  font-weight: 700;
  text-decoration-line: none !important;
}

.ksellinfolinks{
  margin-top: 5px;
  font-size: 13px;
  font-weight: 400;
  color: rgb(10, 61, 171);
  margin-bottom: 0px;
}

#kheart2{
  position: relative;
  top: 5px;
  margin-top: 5px;
  margin-right: 5px;
  font-size: 20px;
  font-weight: 400;
  color: rgb(10, 61, 171);
}

#ka{
  color: green;
  font-weight: 400;
  font-size: 13px;
  top: 2px;
  left: 2px;
}

#kb{
  font-weight: 400;
  font-size: 13px;
  top: 2px;
  left: 2px;
}

#kc{
  color: green;
  font-weight: 500;
  font-size: 13px;
  top: 2px;
  left: 2px;
}

#kd{
  color: black;
  font-weight: 300;
  font-size: 11px;
}

#ke{
  font-size: 10px;
  font-weight: 400;
  color: rgb(102, 102, 102)
}

#kf{
  font-size: 10px;
  font-weight: 400;
  color: rgb(102, 102, 102)
}

#kg{
  font-size: 10px;
  font-weight: 400;
  color: rgb(102, 102, 102);
}

#kh{
  font-size: 11px;
  font-weight: 400;
}

#ki{
  font-size: 11px;
  font-weight: 400;
  color: rgb(102, 102, 102);
  text-decoration: underline;
}

#kj{
  font-weight: 400;
  font-size: 13px;
}

#kk{
  font-size: 11px;
  font-weight: 400;
  color: rgb(102, 102, 102);
  text-decoration: underline;
}